@import jeet/scss/jeet/index
@import compass-breakpoint/stylesheets/breakpoint

// +edit()

// R E S E T
// td.wrapper
//   padding: 0

// table.columns td, table.column td
//   padding: 0

// _ b r e a k p o i n t s
$bp-mobile: 600px

// _ b a s e l i n e
$baseline: 16px

// _ c o l o r s
$blue: #4b5c67
$blue-light: #55b2db
$blue-med: #10273d
$blue-dark: #20234b
$blue-alt: #27343c
$blue-light-alt: #a2c4d7
$blue-footer-border: #3e4b54
$cream: #fefef7
$cream-dark: #eae9de
$gray: #fafafa
$blue-bg: #ececf1
$white: #ffffff

table.body
  background-color: $blue-bg
  border: 20px solid $blue-bg

  +breakpoint(max-width $bp-mobile)
    background-color: $white
    border-left: 0 !important
    border-right: 0 !important
    border-top: 12px solid $white
    border-bottom: 12px solid $white

table.container
  background-color: $white
  border: 10px solid $white

  +breakpoint(max-width $bp-mobile)
    border: 0

center
  min-width: 0

p
  color: $blue-alt
  text-align: justify

h3
  font-size: 24px
  line-height: 26px
  margin-bottom: 12px

.top-link-wrapper
  text-transform: uppercase

  +breakpoint(max-width $bp-mobile)
    text-align: center !important

.date-wrapper
  text-transform: uppercase
  text-align: right

  +breakpoint(max-width $bp-mobile)
    text-align: center !important

.link-bar
  color: #f00

  td
    +breakpoint(max-width $bp-mobile)
      text-align: center !important

    .follow-us
      text-align: right

      img
        width: 20px
        height: 20px
        float: right

        +breakpoint(max-width $bp-mobile)
          float: none !important
          margin: 10px auto 0 !important
          display: block !important
          padding: 0 !important

  .inner-wrapper td
    padding-bottom: 0

.weekly-update-header
  border-top: 1px solid $blue-light
  border-bottom: 1px solid $blue-light

  h1
    text-align: center
    text-transform: uppercase
    font-size: 26px

  h2
    text-align: center
    text-transform: uppercase
    color: $blue-light
    font-size: 24px

.top-wrapper
  // background-color: $blue-bg

  span
    font-size: 18px
    display: block

    &.top-link
      text-transform: uppercase

      +breakpoint(max-width $bp-mobile)
        text-align: center !important

      a
        color: $blue-alt !important

    &.vol-num
      text-transform: uppercase
      text-align: right
      color: $blue-light

      +breakpoint(max-width $bp-mobile)
        text-align: center !important

.watch-this-wrapper
  text-transform: uppercase
  text-align: center
  border-top: 1px solid $blue-light
  border-bottom: 1px solid $blue-light

  .watch-this-intro
    font-size: 18px
    margin-bottom: 20px

  .password
    color: #819c6a
    font-size: 28px
    text-transform: none

.portfolio-wrapper

  h2
    background-color: #27343c
    color: #fff
    text-align: center
    text-transform: uppercase
    font-size: 26px
    padding: 5px 0

  a
    color: #819c6a !important

.headline-wrapper
  background-color: $blue-med

  h1
    color: $white
    text-align: center
    text-transform: uppercase
    font-size: 30px
    line-height: 34px
    padding: 0 10px

  h3
    color: $blue-light
    text-align: center
    text-transform: uppercase
    font-size: 24px
    line-height: 28px
    padding: 0 10px

.did-you-know-wrapper
  text-align: center

  .did-you-know-heading
    text-align: center
    text-transform: uppercase
    color: #27343c
    font-size: 30px

  .did-you-know-sub
    text-align: center
    text-transform: uppercase
    color: #27343c
    font-size: 24px

  .did-you-know-read-more
    text-align: center

  .did-you-know-read-more
    width: 70%
    margin: 0 auto

    a
      color: #819c6a !important
      font-size: 20px !important


.services-wrapper
  border-top: 1px solid $blue-light

  h4
    font-size: 18px
    text-align: center
    text-transform: uppercase

  a
    display: inline-block
    padding: 10px 20px
    background: #819c6a
    color: #fff !important
    text-transform: uppercase

// Intro wrapper
//
.intro-wrapper
  background-color: $cream
  border-bottom: 1px solid $blue-light

  h2
    font-size: 24px
    line-height: 26px
    color: $blue-dark
    text-align: center

  .read
    background-color: $cream-dark
    text-align: center
    font-size: 18px
    line-height: 24px
    padding-top: 10px
    padding-bottom: 10px

  .highlights
    padding: 20px 0 0

ul
  list-style-image: url(https://gallery.mailchimp.com/deff6c1033d6648706fb8b26b/images/4b0abb95-33ae-4d41-a114-509363b0dc46.png)

  li

    +breakpoint(max-width $bp-mobile)
      width: 90% !important
      text-align: left !important

// .copy-wrapper
//   background-color: $white
//
//   h3
//     font-size: 22px
//
//     +breakpoint(max-width $bp-mobile)
//       width: 90%
//       margin: 0 auto
//
//   p
//     +breakpoint(max-width $bp-mobile)
//       width: 90%
//       margin: 0 auto

// Figure
//
.figure-wrapper
  border-top: solid $blue-light 1px
  border-bottom: solid $blue-light 1px

  img
    +breakpoint(max-width $bp-mobile)
      max-width: 90% !important

  .figcaption
    text-align: center
    padding: 10px 10%
    color: #4b5d67

// Quote
//
.quote-wrapper
  border-top: 1px solid $blue-light !important
  border-bottom: 1px solid $blue-light !important

  .doublequote
    padding: 10px 0

  blockquote
    font-family: serif
    font-size: 20px
    line-height: 24px
    margin-top: 0
    margin-bottom: 0

  .quote-cite
    padding-top: 10px

  span
    &.cite-name
      font-size: 20px

    &.cite-title
      font-size: 12px
      line-height: 14px

// Seven ways
//
.seven-ways-wrapper
  border-top: 1px solid $blue-light
  border-bottom: 1px solid $blue-light

  table.inner-wrapper td
    color: #4b5d67

table.inner-wrapper
  width: 100%
  min-width: 100%

  td
    padding-left: 10px
    padding-right: 10px

    &.copy
      padding-left: 20px
      padding-right: 20px

    +breakpoint(max-width $bp-mobile)
      text-align: center !important

.footer-wrapper

  table.inner-wrapper td
    color: $blue-light-alt

    &.visit-us
      font-size: 12px

    &.have-questions,
    &.tel,
    &.tel-alt
      text-align: right
      font-size: 18px
      line-height: 24px

    &.copyright
      font-size: 10px
      line-height: 14px

  a
    color: $blue-light-alt !important
    text-decoration: none !important

  .bbb-logo
    +breakpoint(max-width $bp-mobile)
      margin: 0 auto !important
      float: none !important

  .social-link-img
    float: right

    +breakpoint(max-width $bp-mobile)
      float: none !important
      margin: 0 auto !important
